In [1]:
import pandas as pd
import os

In [2]:
df_estacoes_automaticas = pd.read_csv("dados_inmet/CatalogoEstaçõesAutomáticas.csv", sep=";", decimal=",")
df_estacoes_convencionais = pd.read_csv("dados_inmet/CatalogoEstaçõesConvencionais.csv", sep=";", decimal=",")

In [3]:
df_estacoes_automaticas_mg = df_estacoes_automaticas.loc[
    (df_estacoes_automaticas["SG_ESTADO"] == "MG") &
    (df_estacoes_automaticas["CD_SITUACAO"] == "Operante")
]
df_estacoes_automaticas_mg.reset_index(drop=True, inplace=True)
df_estacoes_automaticas_mg['DT_INICIO_OPERACAO'] = pd.to_datetime(df_estacoes_automaticas_mg['DT_INICIO_OPERACAO'], format="%d/%m/%Y")

df_estacoes_convencionais_mg = df_estacoes_convencionais.loc[
    (df_estacoes_convencionais["SG_ESTADO"] == "MG") &
    (df_estacoes_convencionais["CD_SITUACAO"] == "Operante")
]
df_estacoes_convencionais_mg.reset_index(drop=True, inplace=True)
df_estacoes_convencionais_mg['DT_INICIO_OPERACAO'] = pd.to_datetime(df_estacoes_convencionais_mg['DT_INICIO_OPERACAO'], format="%d/%m/%Y")

C:\Users\josue\AppData\Local\Temp\ipykernel_20612\1665290323.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_estacoes_automaticas_mg['DT_INICIO_OPERACAO'] = pd.to_datetime(df_estacoes_automaticas_mg['DT_INICIO_OPERACAO'], format="%d/%m/%Y")
C:\Users\josue\AppData\Local\Temp\ipykernel_20612\1665290323.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_estacoes_convencionais_mg['DT_INICIO_OPERACAO'] = pd.to_datetime(df_estacoes_convencionais_mg['DT_INICIO_OPERACAO'], format="%d/%m/%Y")

In [4]:
df_estacoes_automaticas_mg

,DC_NOME,SG_ESTADO,CD_SITUACAO,VL_LATITUDE,VL_LONGITUDE,VL_ALTITUDE,DT_INICIO_OPERACAO,CD_ESTACAO
0,AGUAS VERMELHAS,MG,Operante,-15.751667,-41.457778,754.07,2007-09-08,A549
1,AIMORES,MG,Operante,-19.532778,-41.090833,301.00,2007-08-04,A534
2,ALMENARA,MG,Operante,-16.166667,-40.687778,189.11,2002-12-14,A508
3,ARACUAI,MG,Operante,-16.848889,-42.035278,308.00,2017-05-18,A566
4,ARAXA,MG,Operante,-19.605833,-46.949722,1018.32,2002-12-18,A505
...,...,...,...,...,...,...,...,...
59,UBERABA,MG,Operante,-19.710000,-47.961944,778.00,2017-05-18,A568
60,UBERLANDIA,MG,Operante,-18.916944,-48.255556,874.77,2002-12-17,A507
61,UNAI,MG,Operante,-16.554167,-46.881944,640.85,2007-06-15,A542
62,VARGINHA,MG,Operante,-21.566389,-45.404167,949.78,2006-07-12,A515
63,VICOSA,MG,Operante,-20.762607,-42.864013,697.64,2005-09-14,A510

In [5]:
df_estacoes_convencionais_mg

,DC_NOME,SG_ESTADO,CD_SITUACAO,VL_LATITUDE,VL_LONGITUDE,VL_ALTITUDE,DT_INICIO_OPERACAO,CD_ESTACAO
0,ARACUAI,MG,Operante,-16.848889,-42.060833,317.67,1918-09-05,83442
1,ARAXA,MG,Operante,-19.605556,-46.949722,1018.28,1916-09-06,83579
2,ARINOS,MG,Operante,-15.915278,-46.107222,523.00,1976-04-04,83384
3,BELO HORIZONTE,MG,Operante,-19.934444,-43.952222,915.47,1910-03-02,83587
4,"C, DO MATO DENTRO",MG,Operante,-19.020278,-43.433889,663.02,1925-06-29,83589
5,CAPARAO,MG,Operante,-20.526111,-41.909167,836.25,1972-11-16,83639
6,CARBONITA,MG,Operante,-17.533056,-43.012222,765.37,1980-12-31,83485
7,FORMOSO,MG,Operante,-14.949727,-46.235795,854.60,1976-04-02,83334
8,ITAMARANDIBA,MG,Operante,-17.859722,-42.852778,919.37,1925-03-26,83488
9,JANUARIA,MG,Operante,-15.448056,-44.366389,480.00,1912-06-18,83386
10,JUIZ DE FORA,MG,Operante,-21.770000,-43.364444,936.90,1909-12-31,83692
11,LAVRAS,MG,Operante,-21.226111,-44.979722,916.19,1911-02-17,83687
12,MONTES CLAROS,MG,Operante,-16.686389,-43.843889,645.87,1911-12-31,83437
13,PASSA QUATRO,MG,Operante,-22.382778,-44.966944,919.55,1912-07-28,83737
14,PEDRA AZUL,MG,Operante,-16.009444,-41.281111,647.97,1918-09-30,83393
15,SALINAS,MG,Operante,-16.154862,-42.284921,476.07,1925-03-04,83441
16,SAO LOURENCO,MG,Operante,-22.126389,-45.043333,930.65,1922-02-03,83736
17,UNAI,MG,Operante,-16.366389,-46.889444,595.59,1976-04-06,83428

In [6]:
df_estacoes_automaticas_mg["DT_INICIO_OPERACAO"].max()

Timestamp('2018-03-15 00:00:00')

In [7]:
df_estacoes_convencionais_mg["DT_INICIO_OPERACAO"].max()

Timestamp('1980-12-31 00:00:00')

In [ ]:
df_estacoes_automaticas_mg.to_excel("Estações Automáticas MG - INMET.xlsx", index=False)

In [22]:
df_estacoes_convencionais_mg.to_excel("Estações Convencionais MG - INMET.xlsx", index=False)

In [37]:
codigos_estacoes = df_estacoes_automaticas_mg["CD_ESTACAO"].to_list()
anos = [2019, 2020, 2021, 2022, 2023, 2024]

for codigo in codigos_estacoes:
    csv_files = []
    for ano in anos:
        files = os.listdir(f"dados_inmet/{ano}")
        for file in files:
            if f"MG_{codigo}" in file:
                df_temp = pd.read_csv(f"dados_inmet/{ano}/{file}", sep=";", decimal=",", encoding="latin-1", skiprows=8)
                df_temp.drop("Unnamed: 19", axis='columns', inplace=True)
                df_temp.columns = df_temp.columns.str.upper()
                df_temp.fillna(0, inplace=True)
                
                csv_files.append(df_temp)
                break
    df_result = pd.concat(csv_files)
    df_result.to_csv(f"dados_inmet/Dados meteorológicos Estação {codigo}-{df_estacoes_automaticas_mg.loc[df_estacoes_automaticas_mg["CD_ESTACAO"] == codigo, "DC_NOME"].iloc[0]}.csv", index=False, sep=";", decimal=",")

In [40]:
pd.read_csv("dados_inmet/Dados meteorológicos Estação A510-VICOSA.csv", sep=";", decimal=",")

,DATA,HORA UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (MM)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (MB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (MB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (MB),RADIACAO GLOBAL (KJ/M²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (GR) (° (GR))","VENTO, RAJADA MAXIMA (M/S)","VENTO, VELOCIDADE HORARIA (M/S)"
0,2019/01/01,0000 UTC,0.0,935.6,935.6,935.0,0.0,20.2,18.5,20.8,19.9,19.0,18.5,92.0,89.0,90.0,30.0,3.2,0.5
1,2019/01/01,0100 UTC,0.0,936.0,936.0,935.6,0.0,19.2,18.2,20.2,19.2,18.5,18.1,94.0,90.0,94.0,43.0,1.7,0.2
2,2019/01/01,0200 UTC,0.0,936.0,936.0,935.9,0.0,19.2,18.3,19.7,19.0,18.6,18.1,95.0,93.0,95.0,67.0,1.4,0.5
3,2019/01/01,0300 UTC,0.0,935.4,936.0,935.4,0.0,18.8,18.0,19.2,18.8,18.4,17.9,95.0,95.0,95.0,307.0,1.7,0.0
4,2019/01/01,0400 UTC,0.0,935.3,935.5,935.3,0.0,18.8,18.1,19.0,18.7,18.3,18.0,96.0,95.0,96.0,84.0,0.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52603,2024/12/31,1900 UTC,0.0,933.5,933.9,933.4,1094.2,25.9,19.5,27.2,25.9,20.0,18.7,69.0,61.0,68.0,18.0,4.8,2.0
52604,2024/12/31,2000 UTC,0.0,933.1,933.5,933.1,385.6,25.1,20.5,25.9,25.1,21.0,19.5,77.0,68.0,76.0,22.0,4.8,0.7
52605,2024/12/31,2100 UTC,0.0,933.6,933.6,933.1,206.9,23.4,21.2,25.4,23.4,21.5,20.7,87.0,76.0,87.0,64.0,2.8,0.1
52606,2024/12/31,2200 UTC,0.0,934.1,934.2,933.6,10.4,22.2,20.8,23.4,22.2,21.2,20.6,92.0,87.0,92.0,65.0,1.5,0.1
52607,2024/12/31,2300 UTC,0.0,934.7,934.7,933.9,0.0,21.6,20.5,22.2,21.6,20.7,20.5,94.0,91.0,94.0,56.0,1.4,0.1